In [1]:
import pandas as pd
import numpy as np

In [19]:
parent_df = pd.read_csv('parents.csv')

parent_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   parent_id         100 non-null    int64
 1   student_id        100 non-null    int64
 2   parent_name       100 non-null    object
 3   relationship      100 non-null    object
 4   income_level      100 non-null    object
 5   income (monthly)  100 non-null    object
 6   education_level   100 non-null    object
 7   occupation        100 non-null    object
dtypes: int64(2), object(6)
memory usage: 6.4+ KB

In [20]:
parent_df.isnull().sum()

parent_id           0
student_id          0
parent_name         0
relationship        0
income_level        0
income (monthly)    0
education_level     0
occupation          0
dtype: int64

In [21]:
parent_df.columns

Index(['parent_id', 'student_id', 'parent_name', 'relationship',
       'income_level', 'income (monthly)', 'education_level', 'occupation'],
      dtype='object')

In [22]:
material_df = pd.read_csv("access_to_quality_material.csv")

material_df.columns

Index(['material_id', 'student_id', 'material_type', 'access_level',
       'frequency_of_use'],
      dtype='object')

In [23]:
activity_df = pd.read_csv("extra_curricullar.csv")

activity_df.columns

Index(['activity_id', 'student_id', 'activity_name', 'participation_level',
       'hours_per_week', 'Unnamed: 5'],
      dtype='object')

In [24]:
resource_df = pd.read_csv("resource.csv")

resource_df.columns

Index(['resource_id', 'resource_type', 'allocation_hours', 'total_resources',
       'usage_frequency'],
      dtype='object')

In [25]:
student_df = pd.read_csv("student_bio_data.csv")

student_df.columns

Index(['student_id', 'first_name', 'last_name', 'gender', 'date_of_birth',
       'class', 'admission_date'],
      dtype='object')

In [26]:
teacher_df = pd.read_csv("teaching_quality.csv")

teacher_df.columns

Index(['teacher_id', 'subject', 'teaching_method', 'student_feedback_rating',
       'hours_per_week'],
      dtype='object')

In [11]:
# Perform the merge
merged_df = pd.merge(
    df,
    dff,
    on='student_id',
    how='outer'  # Use outer join to keep all records from both datasets
)



# 2. Sort the dataset by student_id
merged_df = merged_df.sort_values('student_id')

# 3. Reset the index
merged_df = merged_df.reset_index(drop=True)


merged_df.head()

Missing values in the merged dataset:
parent_id            0
student_id           0
parent_name          0
relationship         0
income_level         0
income (monthly)     0
education_level      0
occupation           0
material_id         51
material_type       51
access_level        51
frequency_of_use    51
dtype: int64

,parent_id,student_id,parent_name,relationship,income_level,income (monthly),education_level,occupation,material_id,material_type,access_level,frequency_of_use
0,1,2021001,Emeka Okafor,Father,Upper Class,"?5,000,000",University,Engineer,1.0,Textbook,High,Daily
1,2,2021002,Amina Bello,Mother,Lower Upper Class,"?2,500,000",Secondary,Trader,2.0,Online Resource,Medium,Weekly
2,3,2021003,Thandi Molefe,Mother,Middle Class,"?800,000",University,Teacher,3.0,Library Access,Low,Monthly
3,4,2021004,Ibrahim Abubakar,Father,Lower Class,"?100,000",Primary,Farmer,4.0,Textbook,High,Daily
4,5,2021005,Akosua Mensah,Mother,Upper Class,"?6,000,000",University,Doctor,5.0,Online Resource,Medium,Weekly

In [14]:
# Step 1: Merge datasets with student_id
def merge_student_datasets():
    # First merge parent and material data
    merged_df = pd.merge(
        df,
        dff,
        on='student_id',
        how='outer',
        suffixes=('_parent', '_material')
    )
    
    # Then merge with activity data
    merged_df = pd.merge(
        merged_df,
        dfff,
        on='student_id',
        how='outer',
        suffixes=('', '_activity')
    )
    
    return merged_df

# Step 2: Create a cross join with resources (as it doesn't have student_id)
def add_resources(merged_df):
    # Create a cross join by using merge with dummy key
    merged_df['dummy_key'] = 1
    dffff['dummy_key'] = 1
    
    final_df = pd.merge(
        merged_df,
        dffff,
        on='dummy_key',
        how='left'
    )
    
    # Remove the dummy key
    final_df = final_df.drop('dummy_key', axis=1)
    
    return final_df

# Step 3: Clean and prepare the final dataset
def clean_dataset(df):
    # Remove any duplicate columns
    df = df.loc[:,~df.columns.duplicated()]
    
    # Sort by student_id
    df = df.sort_values('student_id')
    
    # Reset index
    df = df.reset_index(drop=True)
    
    # Clean column names
    df.columns = [col.strip() for col in df.columns]
    
    return df

# Execute the merging process
merged_df = merge_student_datasets()
final_df = add_resources(merged_df)
final_df = clean_dataset(final_df)

In [15]:
final_df.head()

,parent_id,student_id,parent_name,relationship,income_level,income (monthly),education_level,occupation,material_id,material_type,...,activity_id,activity_name,participation_level,hours_per_week,Unnamed: 5,resource_id,resource_type,allocation_hours,total_resources,usage_frequency
0,1,2021001,Emeka Okafor,Father,Upper Class,"?5,000,000",University,Engineer,1.0,Textbook,...,1,Football,High,5,NaN,1,Library,20,200,Daily
1,1,2021001,Emeka Okafor,Father,Upper Class,"?5,000,000",University,Engineer,1.0,Textbook,...,1,Football,High,5,NaN,28,Media Room,10,1,Monthly
2,1,2021001,Emeka Okafor,Father,Upper Class,"?5,000,000",University,Engineer,1.0,Textbook,...,1,Football,High,5,NaN,29,Language Lab,20,4,Weekly
3,1,2021001,Emeka Okafor,Father,Upper Class,"?5,000,000",University,Engineer,1.0,Textbook,...,1,Football,High,5,NaN,30,Robotics Lab,15,3,Bi-weekly
4,1,2021001,Emeka Okafor,Father,Upper Class,"?5,000,000",University,Engineer,1.0,Textbook,...,1,Football,High,5,NaN,31,Debate Room,10,2,Monthly

In [27]:
import pandas as pd
from datetime import datetime



def preprocess_datasets():
    """Preprocess the datasets by converting dates and calculating age"""
    # Convert date columns to datetime
    student_df['date_of_birth'] = pd.to_datetime(student_df['date_of_birth'])
    student_df['admission_date'] = pd.to_datetime(student_df['admission_date'])
    
    # Calculate age
    today = pd.Timestamp.today()
    student_df['age'] = (today - student_df['date_of_birth']).dt.days / 365.25
    student_df['age'] = student_df['age'].astype(int)


    return student_df

def merge_datasets():
    """Merge all datasets together"""
    # Start with student personal information as the base
    merged_df = student_df.copy()
    
    # Merge with parent information
    merged_df = pd.merge(
        merged_df,
        parent_df,
        on='student_id',
        how='left',
        suffixes=('', '_parent')
    )
    
    # Merge with materials
    merged_df = pd.merge(
        merged_df,
        material_df,
        on='student_id',
        how='left',
        suffixes=('', '_material')
    )
    
    # Merge with activities
    merged_df = pd.merge(
        merged_df,
        activity_df,
        on='student_id',
        how='left',
        suffixes=('', '_activity')
    )
    
    # Add resource information (as a cross join since no direct relationship)
    merged_df['dummy_key'] = 1
    resource_df['dummy_key'] = 1
    merged_df = pd.merge(
        merged_df,
        resource_df,
        on='dummy_key',
        how='left'
    ).drop('dummy_key', axis=1)
    
    # Add teacher information (as a cross join to show all possible teachers for each student)
    merged_df['dummy_key'] = 1
    teacher_df['dummy_key'] = 1
    merged_df = pd.merge(
        merged_df,
        teacher_df,
        on='dummy_key',
        how='left'
    ).drop('dummy_key', axis=1)
    
    return merged_df

def clean_and_validate_data(df):
    """Clean and validate the final dataset"""
    # Remove any duplicate columns
    df = df.loc[:,~df.columns.duplicated()]
    
    # Sort by student_id
    df = df.sort_values('student_id')
    
    # Reset index
    df = df.reset_index(drop=True)
    
    # Clean column names
    df.columns = [col.strip() for col in df.columns]
    
    return df

def generate_summary_statistics(df):
    """Generate summary statistics for the dataset"""
    print("\n=== Dataset Summary ===")
    print(f"Total number of records: {len(df)}")
    print(f"Number of unique students: {df['student_id'].nunique()}")
    print(f"Number of unique teachers: {df['teacher_id'].nunique()}")
    print(f"Number of classes: {df['class'].nunique()}")
    
    print("\n=== Missing Data Analysis ===")
    missing_data = (df.isnull().sum() / len(df) * 100).round(2)
    print(missing_data[missing_data > 0])
    
    print("\n=== Key Metrics ===")
    print(f"Average student age: {df['age'].mean():.2f} years")
    print(f"Average teacher rating: {df['student_feedback_rating'].mean():.2f}")
    
    return df.describe()

def main():
    # Preprocess the datasets
    global student_df
    student_df = preprocess_datasets()
    
    # Merge all datasets
    final_df = merge_datasets()
    
    # Clean and validate
    final_df = clean_and_validate_data(final_df)
    
    # Generate summary statistics
    summary_stats = generate_summary_statistics(final_df)
    
    return final_df, summary_stats

# Run the main function
final_df, summary_stats = main()

# Display sample of the final dataset
print("\n=== Sample of Final Dataset ===")
print(final_df[['student_id', 'first_name', 'class', 'teacher_id', 'subject', 'activity_name', 'material_type']].head())

/tmp/ipykernel_37766/3439259647.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  student_df['date_of_birth'] = pd.to_datetime(student_df['date_of_birth'])

ValueError: Cannot convert from timedelta64[ns] to timedelta64[Y]. Supported resolutions are 's', 'ms', 'us', 'ns'

In [18]:
import pandas as pd
from datetime import datetime


def preprocess_datasets():
    # Convert date columns to datetime
    dfffff['date_of_birth'] = pd.to_datetime(dffff['date_of_birth'])
    dfffff['admission_date'] = pd.to_datetime(dfffff['admission_date'])
    
    # Calculate age (this will help in analysis)
    dfffff['age'] = (datetime.now() - dfffff['date_of_birth']).astype('<m8[Y]')
    
    return dfffff

def merge_datasets():
    """Merge all datasets that have student_id as key"""
    # Start with student personal information
    merged_df = dfffff.copy()
    
    # Merge with parent information
    merged_df = pd.merge(
        merged_df,
        df,
        on='student_id',
        how='left',
        suffixes=('', '_parent')
    )
    
    # Merge with materials
    merged_df = pd.merge(
        merged_df,
        dff,
        on='student_id',
        how='left',
        suffixes=('', '_material')
    )
    
    # Merge with activities
    merged_df = pd.merge(
        merged_df,
        dfff,
        on='student_id',
        how='left',
        suffixes=('', '_activity')
    )
    
     # Add resource information (as a cross join since no direct relationship)
    merged_df['dummy_key'] = 1
    dffff['dummy_key'] = 1
    merged_df = pd.merge(
        merged_df,
        dffff,
        on='dummy_key',
        how='left'
    ).drop('dummy_key', axis=1)
    
    # Add teacher information (as a cross join to show all possible teachers for each student)
    merged_df['dummy_key'] = 1
    dffffff['dummy_key'] = 1
    merged_df = pd.merge(
        merged_df,
        dffffff,
        on='dummy_key',
        how='left'
    ).drop('dummy_key', axis=1)
    
    return merged_df

def clean_and_validate_data(df):
    """Clean and validate the final dataset"""
    # Remove any duplicate columns
    df = df.loc[:,~df.columns.duplicated()]
    
    # Sort by student_id
    df = df.sort_values('student_id')
    
    # Reset index
    df = df.reset_index(drop=True)
    
    # Clean column names
    df.columns = [col.strip() for col in df.columns]
    
    return df

def main():
    # Preprocess the datasets
    global student_df
    student_df = preprocess_datasets()
    
    # Merge all datasets
    final_df = merge_datasets()
    
    # Clean and validate
    final_df = clean_and_validate_data(final_df)
    
    
    
    return final_df, 

# Run the main function
final_df = main()

KeyError: 'date_of_birth'